<h1 class="text-3xl font-bold mb-8 text-center text-gray-800">Contáctanos</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="bg-white shadow-lg rounded-lg px-6 py-8 mb-8">
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-semibold mb-2" for="nombreCompleto">Nombre Completo</label>
      <input formControlName="nombreCompleto" placeholder="Nombre Completo" 
        class="shadow border border-gray-300 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-400" />
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-semibold mb-2" for="correo">Correo</label>
      <input formControlName="correo" placeholder="Correo" 
        class="shadow border border-gray-300 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-400" />
    </div>
    
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-semibold mb-2" for="correo">Confirmar Correo</label>
      <input formControlName="correo" placeholder="Correo" 
        class="shadow border border-gray-300 rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-400" />
    </div>


    <div class="flex items-center justify-center">
      <button type="submit" 
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
        Enviar
      </button>
    </div>
  </form>

  <div *ngIf="horaLocal" class="mb-6 p-4 bg-gray-100 rounded-lg shadow">
    <h2 class="text-xl font-semibold text-gray-800">Hora Local:</h2>
    <p class="text-gray-700">{{ horaLocal }}</p>
  </div>