<div class="p-6 h-screen bg-gray-100 rounded-lg flex flex-col">
    <h2 class="text-3xl font-bold mb-6 text-center text-indigo-600">NOTICIAS DEL DÍA</h2>
    <div class="flex-1 overflow-y-auto"> <!-- Utiliza flex-1 para que ocupe el espacio restante -->
        <ul class="space-y-4">
            <li *ngFor="let article of articles" class="bg-white p-4 rounded-lg shadow hover:shadow-md transition-shadow">
                <a [href]="article.url" target="_blank" class="text-lg font-semibold text-indigo-700 hover:text-indigo-500">
                    {{ article.title }}
                </a>
            </li>
        </ul>
    </div>
</div>
