<div>
    <h2>Nationalities for {{ name }}</h2>
    
    <input
      type="text"
      [(ngModel)]="name"
      placeholder="Enter your name"
      class="p-2 border rounded-lg mb-4 w-full"
    />
  
    <button (click)="getNationalities()" class="bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-500 mb-4">
      Search
    </button>
  
    <div *ngIf="nationalities">
      <ul>
        <li *ngFor="let nationality of nationalities.country">
          {{ nationality.country_id }}: {{ nationality.probability | number: '1.0-2' }}%
        </li>
      </ul>
    </div>
    
    <div *ngIf="!nationalities">Loading...</div>
  </div>
  