<div class="flex flex-col md:flex-row min-h-screen bg-gray-900">
  <!-- Navbar en la izquierda -->
  <div class="w-full md:w-1/4 h-auto p-6 md:p-8 lg:p-10 bg-gray-800 border-r border-gray-700">
    <div>
      <!-- Información del usuario aleatorio -->
      <div *ngIf="randomUser" class="mb-6 p-4 bg-gray-700 rounded-lg shadow-md">
        <p class="text-gray-300">
          <strong>Bienvenido </strong> {{ randomUser.name.first }} {{ randomUser.name.last }}
        </p>
        <img
          [src]="randomUser.picture.large"
          alt="Foto de usuario"
          class="rounded-full mt-2 w-16 h-16 object-cover border-2 border-blue-500"
        />
      </div>

      <!-- Botones con redireccionamiento -->
      <h2 class="text-2xl font-bold mb-4 text-center text-white">¿Qué deseas hacer hoy?</h2>
      <a
        href="home"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4 block text-center transition-all duration-300"
      >
        Home
      </a>
      <a
        href="horoscopo"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4 block text-center transition-all duration-300"
      >
        Noticia del día
      </a>
      <a
        href="divisas"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4 block text-center transition-all duration-300"
      >
        Cambio de Divisas
      </a>
      <a
        href="lyrics"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4 block text-center transition-all duration-300"
      >
        Letra Canción
      </a>
      <a
        href="trivia"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4 block text-center transition-all duration-300"
      >
        Trivia
      </a>
      <a
        href="nationality"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4 block text-center transition-all duration-300"
      >
        ¿De donde provienes?
      </a>
      <a
        href="games"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 mb-4 block text-center transition-all duration-300"
      >
        Juegos
      </a>
      <a
        href="forms"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 block text-center transition-all duration-300"
      >
        Contáctanos
      </a>
    </div>
  </div>
  
  <!-- Contenido de la derecha, usando el espacio restante -->
  <div class="w-full md:w-3/4 h-auto p-6 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</div>
